.sideMenu{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 480px;
    background-color: color(50);
    height: 100%;
    padding:40px 50px;
    overflow-y: auto;
    // background-image: url('#{$imageurl}/sidemenu_bg.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    right: -480px;
    @include transition(0.5s);
    z-index: 999;
    &_close{
        height: 44px;
        width: 44px;
        // background-color: color(500);
        display: inline-block;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: color(900);
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        &-yellowBg{
             background-color: color(500);
        }
        cursor: pointer;
        &:hover{
            color: color(900);
        }
    }
    &.sideMenuMain{
        right: auto;
        left: -480px;
    }
    h2{
        font-size: 20px;
        font-family: font(sb);
    }
    p{
        font-size: 14px;
    }
    ul{
        margin-top: 100px;
        li{
            &:not(:last-child){
                margin-bottom: 50px;
            }
            a{
                font-size: 24px;
                line-height: 32px;
                color: color(900);font-weight:500;
                &:hover, &.active{
                    color: color(500);
                }
            }
        }
    }
    &_logout{
        font-size: 20px;
        color: color(900);
        display: inline-block;
        margin-top: 50px;
    }
    &-form{
        background-image: none;
        .commonForm{
            margin-top: 40px;
        }
    }
  
    @include media-breakpoint-down(lg){
        width: 338px;
        padding: 30px;
        ul{ 
            li{
                a{
                    font-size: 22px;
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        width: 338px;
        padding: 30px;
        background-size: 50%;
        ul{ margin-top: 50px;
            li{
                &:not(:last-child){
                    margin-bottom: 40px;
                }
                a{
                    font-size: 20px;
                }
            }
        }
    }
    @media(max-width: 380px){
        width: 315px;padding: 25px 20px
    }
}

body{
    &.showMenu, &.showContactForm, &.showAddresForm, &.showNotification, &.showEditContactForm, &.showEditAddressForm{
        .sideMenubackdrop{
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }
    &.showMenu{
        .sideMenuMain{
            left: 0;
        }
    }
    &.showContactForm{
        .sideMenuContactForm{
            right: 0;
        }
    }
    &.showAddresForm{
        .sideMenuAddressForm{
            right: 0;
        }
    }
    &.showNotification{
        .sideMenuNotification{
            right: 0;
        }
    }
    &.showEditContactForm{
        .sideMenuEditContactForm{
            right: 0;
        }
    }
    &.showEditAddressForm{
        .sideMenuEditAddressForm{
            right: 0;
        }
    }

}

.sideMenubackdrop{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    display: none;
}

.sideMenuNotification{
    .notiBox{
        background: #F2F4F7;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        padding: 12px;
        &:not(:last-child){
            margin-bottom: 4px;
        }
        &_left{
            margin-right: 20px;
            span{
                display: inline-block;
                height: 48px;
                width: 48px;
                background: #E0F2FE;
                border-radius: 50%;
                font-size: 20px;
            }
        }
        &_right{
            h4{
                font-size: 14px;
                font-family: font(sb);
            }
            p{
                font-size: 12px;
                line-height: 18px   ;
            }
        }
    }
}

.sideMenuContactForm{
    &_txt{
        padding-left: 30px;
        a{color: color(900);text-decoration:underline;
            &:hover{
                color: color(900);
            }
        }
    }
}