.btn{
    padding:12px 35px;cursor:pointer;font-family:font(sb);font-size: 14px;
    border-radius: 4px;@include transition(all 0.4s);
    &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
        box-shadow: none;outline: none;
    }
    &-md{
        padding: 12px 12px;
    }

    &.btn-primary{
        border-color:color(500);color: color(50);background-color:color(500);
        @include transition(all 0.5s);
        &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
            border-color:darken(color(500), 8%);box-shadow: none;
            background: darken(color(500), 8%);color:color(50);
        }
    }

    &.btn-secondary{
        border-color:color(50);color: color(900);background-color:color(50);
        @include transition(all 0.5s);
        &:hover,&:focus,&:active,&:not(:disabled):not(.disabled):active {
            box-shadow: none; border-color: darken(color(50), 8%);
            background: darken(color(50), 8%);color:color(900);
        }
    }
    @include media-breakpoint-down(xl) {
        padding: 10px 28px;
        &-md{
            padding: 10px 12px;
        }
    }
    @include media-breakpoint-down(md) {
        padding: 8px 22px;
        &-md{
            padding: 8px 10px;
        }
    }
}
