.commonTabs{
    margin: 40px auto;max-width: 580px;overflow-x: auto;
    &.nav{
        border-bottom: 1px solid rgba(color(900),0.16);padding-bottom:12px;
        .nav-item:not(:last-child){
            margin-right: 70px;
        }
        .nav-link{
            font-size: 16px;line-height: 24px;color: #667085;padding:0;
            white-space: nowrap;position: relative;
            &.active{
                background-color: transparent;color: #1D2939;font-weight: 600;
                &::after{
                    position: absolute;bottom:-12px;left: 0;width: 100%;border-bottom: 3px solid #1D2939;
                    content: "";
                }
            }
        }
    }
    @include media-breakpoint-down(lg){
        margin: 30px auto;
        &.nav{
            padding-bottom:10px;
            .nav-item:not(:last-child){
                margin-right: 50px;
            }
            .nav-link{
                font-size: 15px;line-height: normal;
                &.active{
                    &::after{
                        bottom: -10px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm){
        margin: 20px auto;
        &.nav{
            padding-bottom:10px;
            .nav-item:not(:last-child){
                margin-right: 30px;
            }
            .nav-link{
                font-size: 14px;
            }
        }
    }
    @include media-breakpoint-down(xs){
        &.nav{
            .nav-item:not(:last-child){
                margin-right: 20px;
            }
        }
    }
}