body{
    font-family: font(rg);font-size:14px;color: color(900);
    background-color: color(650); 
}

a{
    text-decoration: none;
    &:hover{text-decoration: none;}
}

:focus{outline: 0 !important;}

